{% assign recipe = include.r %}

{% if recipe.ingredients_section_one %}
<ul>
  <label>{{ recipe.ingredients_section_one_name }}</label>
    {% for ingredient in recipe.ingredients_section_one %}
    <li>
      {{ ingredient }}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if recipe.ingredients_section_two %}
<ul>
  <label>{{ recipe.ingredients_section_two_name }}</label>
    {% for ingredient in recipe.ingredients_section_two %}
    <li>
      {{ ingredient }}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if recipe.ingredients_section_three %}
<ul>
  <label>{{ recipe.ingredients_section_three_name }}</label>
    {% for ingredient in recipe.ingredients_section_three %}
    <li>
      {{ ingredient }}
    </li>
    {% endfor %}
</ul>
{% endif %}
