// Overall
$background: #E3F1F2;
$hr: #16697A;

// Navigation
$nav_link: #313FAD;
$nav_hover_link: $nav_link;
$nav_border_bottom_link_selected: #EA6EF4;
$nav_border_bottom_link_hover: #EA6EF4;

// Recipe contents
$ul_li_link: rgb(78,15,112);
$link: rgb(78,15,112);
$hover_link: rgb(183,100,229);
$text: rgb(30,3,45);
$ol_li_background: #313FAD;
$ol_li_foreground: white;
$gen_info_right_border: black;
$header_color: rgb(78,15,112);

$header_font: 'DynaPuff';
$body_font: 'Montserrat';
